.btn-theme-primary {
    background-color: var(--accent) !important;
    border-color: var(--accent-dark) !important;
    color: var(--text) !important;
    text-decoration: none !important;
    font-weight: 600;
}

.btn-theme-primary:hover {
    background-color: var(--accent-light) !important;
    border-color: var(--accent) !important;
    color: var(--text) !important;
}

.btn-theme-primary.active {
    background-color: var(--accent-dark) !important;
    border-color: var(--accent-dark) !important;
    color: var(--text) !important;
}

.btn-theme-outline {
    background-color: transparent !important;
    border-color: var(--accent) !important;
    color: var(--accent) !important;
    text-decoration: none !important;
    font-weight: 600;

}

.btn-theme-outline:hover {
    background-color: var(--accent) !important;
    border-color: var(--accent-dark) !important;
    color: var(--text) !important;
}

.btn-theme-ghost-underline {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--accent-light) !important;
    text-decoration: none !important;
    font-weight: 600;
}

.btn-theme-ghost-underline:hover {
    text-decoration: underline !important;
    color: var(--accent-light) !important;
}

.btn-theme-ghost-outline {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--accent-light) !important;
    text-decoration: none !important;
    font-weight: 600;
}

.btn-theme-ghost-outline:hover {
    background-color: transparent !important;
    border-color: var(--accent-dark) !important;
    color: var(--text) !important;
}

.btn-theme-ghost-outline.active {
    background-color: var(--accent) !important;
    border-color: var(--accent-dark) !important;
    color: var(--text) !important;
}