@import "main.less";

html, body{
    background: @theme-color-light;
}

.title{
    font-size: 5em;
    margin: 0;
}

.card-img-top{
    text-align: center;
    margin-top: 10%;
    i{
        font-size: 10em;
        width: 100%;
        display: inline-block;
        
    }
}


footer{
    margin-top: -150px;
}





