@import "main.less";

.list-group{
    .list-group-item{
        background: @theme-color;
        color: white;
        border: black 1px solid;
        margin-top: 5px;
        border-radius: 2em;

        &.active{
            background: @theme-color-light;
            color: white;
            border: white 1px solid;
            border-radius: 2em;
            margin-top: 5px;
        }
    }
}

div.tab-pane h4{
    margin: 5px;
}

.semester-container{
    margin: 5px;
    padding: 10px;
    border-radius: 2em;
    border: white 2px solid;
    margin-bottom: 10px;
}

.tab-pane{
    background: @theme-color-light;
    border-radius: 2em;
    border: black 2px solid;
}

@media screen and (max-width: 992px){
    .tab-pane{
        margin: 5px 0 5px 0;
        width: 100%;
    }

    .list-group{
        padding-bottom: 5px;
        border-bottom: 1px solid white;
        border-radius: 0;
    }

    .row.my5{
        margin: 0!important;
    }
}